.ProjectSection{
    display: flex;
    flex-direction: column;
    align-items: center;

    .content{
        width: clamp(300px, 100%, 1100px);
    }

    .list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .project-card{
            width: 19em;
            height: 19em;
            margin: 0.9em;
            border: 1px solid #787878;
            border-radius: 6px;
            position: relative;
            overflow: hidden;
            padding: 15px;
            backdrop-filter: blur(5px);
            display: flex;
            flex-direction: column;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../../assets/noise.svg');
                opacity: 0.19;
                pointer-events: none;
            }
              
            .blob{
                position: absolute;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background: rgb(69, 0, 130);
                background: radial-gradient(circle, rgba(173, 79, 255, 0.768) 0%, rgba(130, 0, 177, 0.233) 50%, rgba(151, 179, 255, 0.211) 100%);
                opacity: 0;
                pointer-events: none;
                z-index: -1;
                filter: blur(20px);
                transition: opacity 0.5s ease-in-out;
                
                &.show{
                    opacity: 0.6;
                }
            }

            .name{
                margin: 0;
                margin-bottom: 10px;
                font-size: 1.5em;
                font-family: 'Courier New', Courier, monospace;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;
            }

            .desc{
                flex: 1;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: pre-wrap;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 6;
            }

            .tech-stack{
                span{
                    font-size: 0.9em;
                    font-weight: bold;
                }
                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    overflow-x: auto;
                    padding: 0;
                    margin: 5px 0;

                    li{
                        white-space: nowrap;
                        margin: 0 5px;
                        padding: 5px 10px;
                        border: 1px solid #787878;
                        border-radius: 6px;
                        font-size: 0.8em;
                        font-family: 'Courier New', Courier, monospace;
                    }
                }
            }

            .links{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: end;
                padding-top: 15px;

                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    padding: 5px 10px;
                    border: 2px solid rgb(255, 255, 255);
                    width: fit-content;
                    box-shadow: inset 0 0 0 0 #FFF;
                    transition: all .5s ease-in-out;
                    margin: 0 6px;
                    
                    &:hover{
                        box-shadow: inset 200px 0 0 0 #fff;
                        color: #000;
                    }

                    &.disabled{
                        pointer-events: none;
                        opacity: 0.5;
                    }
                }
            }

        }

    }
}