.ExperienceCard{
    background: rgba(0, 0, 0, 0.699);
    color: white;
    padding: 15px;
    width: 20em;
    height: 20em;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 10px;
    scroll-snap-align: start;
    position: relative;
    transition: all .6s ease-in-out;
}

.ExperienceCard:hover {
    --angleA: 0deg;
    border: 2px solid;
    border-image: linear-gradient(var(--angleA), #00ff2a, #fff023, #0004ff, #ff3298) 1;
    animation: 5s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angleA: 360deg;
    }
}
@property --angleA {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.ExperienceCard .position{
    font-size: 1.2em;
    margin: 0px;
    font-weight: bold;
}

.ExperienceCard .company{
    margin: 0px;
}
.ExperienceCard .time{
    color: gray;
    font-size: 0.8em;
    margin: 0px;
}

.ExperienceCard .link{
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: white;
    padding: 3px 10px;
    border: 2px solid white;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #FFF;
    transition: all .6s ease-in-out;
}
.ExperienceCard .link:hover{
    box-shadow: inset 200px 0 0 0 #fff;
    color: black;
}