.ProjectCard{
    background: rgba(0, 0, 0, 0.699);
    color: white;
    padding: 15px;
    width: 20em;
    height: 20em;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 10px;
    scroll-snap-align: start;
    position: relative;
    transition: all .6s ease-in-out;
}
/* 
.ProjectCard:hover {
    --angle: 0deg;
    border: 1px solid;
    border-image: linear-gradient(var(--angle), #00ff2a, #fff023, #0004ff, #ff3298) 1;
    animation: 5s rotate linear infinite;
} */

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.ProjectCard .title{
    font-size: 1.5em;
    margin: 2px;
}

.ProjectCard .madewith{
    padding: 10px;
    overflow-x: auto;
}
.ProjectCard .madewith span{
    background: rgba(81, 83, 187, 0.411);
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 6px;
}

.ProjectCard .link{
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: white;
    padding: 3px 10px;
    border: 2px solid white;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #FFF;
    transition: all .6s ease-in-out;
}
.ProjectCard .link:hover{
    box-shadow: inset 200px 0 0 0 #fff;
    color: black;
}

.ProjectCard .no-link{
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: rgb(128, 128, 128);
    background: none;
    padding: 3px 10px;
    border: 2px solid rgb(128, 128, 128);
    text-decoration: none;
}