@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$primary-color: #8123ce;
$secondary-color: #3a54c6;
$third-color: #46a7dc;

$circle-size: 50px;
$colors: #45ffdc, #b5ff96, #ff94a1, #cda1ff, #31b4ff, #4800c0, #9300c9;
$shapes: '\f111', '\f10c', '\f068', '\f22d', '\f077',  '\f04b', '\f067', '\f04d';
$shape-count: 80;

.floatingshapes {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    filter: blur(8px);
    
    .inner-container {
        width: 100%;
        margin: 0 ;
    }
    
    .shape {
        margin: 0 auto;
        position: relative;
        opacity: 0.7;
    }
    
    .random-shape:after {
        font-family: FontAwesome;
        content: "\f04d";
    }
    
    @for $i from 1 through $shape-count {
        $shape-size: 0.7 + random(10);
        
        $rotation: random(360);
        $speed: 40 + random(30);
        $color-key: random( length($colors) );
        $shape-color: nth( $colors, $color-key );
        $shape-key: random( length($shapes) );
        $shape-type: nth( $shapes, $shape-key );
        $text: random(10);
        
        @keyframes shape-#{$i} {
            0% {
                transform: translate3d(0,0,0) rotate(#{$rotation + 0}deg);
            }
            100% {
                transform: translate3d(0,0,0) rotate(#{$rotation + 360}deg);
            }
        }
      
        .shape-container--#{$i} { 
            animation: shape-#{$i} #{$speed}s linear infinite;
    
            .random-shape:after {
                margin: #{$shape-size}rem;
                color: $shape-color;
                font-size: #{$shape-size * 0.2}rem;
                content: $shape-type;
            }
        }
    }
}